<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>    
<body class="bg-[#F6F5F0] text-[#2c2d42]">
    <div class="top-nav px-20 flex justify-between items-center">
        <div class="hamburger py-6">
            <div class="line h-0.5 w-3 bg-black my-1"></div>
            <div class="line h-0.5 w-5 bg-black my-1"></div>
            <div class="line h-0.5 w-3 ml-2 bg-black my-1"></div>
        </div>

        <div class="logo">
            <div class="name font-bold text-3xl -translate-y-1">Infotin</div>
        </div>

        <div class="flex items-center">
            <div class="font-semibold text-sm -translate-y-0.5">Sign in</div>
            <div class="search pl-4 translate-y-0.5"><span class="material-icons">search</span></div>
        </div>
    </div>

    <div class="categories flex space-x-8 px-56 justify-center border-b-2 border-[#2c2d42]">
        <div class="font-bold border-b-2 border-[#2c2d42] py-2">News</div>
        <div class="font-medium py-2">Sports</div>
        <div class="font-medium py-2">Entertainment</div>
        <div class="font-medium py-2">Health</div>
        <div class="font-medium py-2">Science</div>
        <div class="font-medium py-2">Technology</div>
        <div class="font-medium py-2">Business</div>
    </div>

    {%block body %}{% endblock %}
</body>
</html>