<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>   
    
<body class="bg-[#F6F5F0] text-[#2c2d42]">
    <div class="top-nav px-20 flex justify-between items-center">
        <div class="hamburger py-6">
            <div class="line h-0.5 w-3 bg-[#F6F5F0] my-1"></div>
            <div class="line h-0.5 w-5 bg-[#F6F5F0] my-1"></div>
            <div class="line h-0.5 w-3 ml-2 bg-[#F6F5F0] my-1"></div>
        </div>

        <div class="logo">
            <div class="name font-bold text-3xl -translate-y-1">
                <a href="{{url_for('index')}}">Infotin</a>
            </div>
        </div>

        <div class="flex items-center right-nav">
            <form action="/search" method="post">
                <input name="query" type="text" placeholder="Search" autofocus autocomplete="off" class="bg-[#F6F5F0] focus:outline-none hidden inp-sign border-b pb-[0.6rem]">
            </form>
            <div class="search pr-4 translate-y-0.5 hover:cursor-pointer"><span class="material-icons">search</span></div>
            {% if session.user_id %}
            <div class="name font-semibold text-sm -translate-y-0.5">
                <a href="{{url_for('logout')}}">Logout</a>
            </div>
            {% else %}
            <div class="signin font-semibold text-sm -translate-y-0.5">
                <a href="{{url_for('login')}}">Sign in</a>
            </div>
            {% endif %}
            
        </div>
    </div>

    <div class="categories flex space-x-8 px-56 justify-center border-b-2 border-[#2c2d42]">
        <div class="font-medium py-2" id="News">
            <a href="{{url_for('index')}}">News</a>
        </div>
        <div class="font-medium py-2" id="Sports">
            <a href="{{url_for('categories',category = 'sports')}}">Sports</a>
        </div>
        <div class="font-medium py-2" id="Entertainment">
            <a href="{{url_for('categories',category = 'entertainment')}}">Entertainment</a>
        </div>
        <div class="font-medium py-2" id="Health">
            <a href="{{url_for('categories',category = 'health')}}">Health</a>
        </div>
        <div class="font-medium py-2" id="Science">
            <a href="{{url_for('categories',category = 'science')}}">Science</a>
        </div>
        <div class="font-medium py-2" id="Technology">
            <a href="{{url_for('categories',category = 'technology')}}">Technology</a>
        </div>
        <div class="font-medium py-2" id="Business">
            <a href="{{url_for('categories',category = 'business')}}">Business</a>
        </div>
        {% if session.user_id %}
        <div class="font-medium py-2" id="Recommended">
            <a href="{{url_for('recommended')}}">Recommended</a>
        </div>
        {% endif %}
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="alert bg-{{category}}-100 border border-{{category}}-400 text-{{category}}-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline">{{message}}</span>
            <span class="close absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-{{category}}-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"></path></svg>
            </span>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <script>
        document.getElementsByClassName("search")[0].addEventListener("click",function(){
            document.getElementsByClassName("search")[0].classList.add("border-b")
            document.getElementsByClassName("inp-sign")[0].classList.remove("hidden")
            document.getElementsByClassName("logo")[0].classList.add("translate-x-[5.7rem]")
        })

        document.getElementsByClassName("close")[0].addEventListener("click",function(){
            document.getElementsByClassName("alert")[0].classList.add("hidden")
        })
    </script>

    {%block body %}{% endblock %}
    {% block script %} {% endblock %}
</body>
</html>